<div class="container">
  <div class="row">
    <div class="col-6">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group space-around-form-element">
          <label for="username"> Username</label>
          <input type="text"
                 required
                 id="username"
                 formControlName="username"
                 class="form-control">
        </div>
        <div class="form-group space-around-form-element">
          <label for="password"> Password</label>
          <input type="password"
                 required
                 id="password"
                 formControlName="password"
                 class="form-control">
        </div>
        <div class="form-group space-around-form-element">
          <button type="submit"
                  class="btn btn-primary">Login
          </button>
        </div>
      </form>

    </div>
  </div>
</div>







