<!--View part for Sales Tab-->
<div *ngIf="currentTab==='sales'">
  <table class="table">
    <thead>
    <tr>
      <ng-container *ngFor="let col of table_cols">
        <th [colSpan]="getColspan(col)">{{col['header']}}</th>
      </ng-container>
    </tr>
    <tr>
      <ng-container *ngFor="let col of table_cols">
        <td *ngIf="!hasSubheaders(col)"></td>
        <ng-container *ngFor="let sub of getSubheaders(col)">
          <td *ngIf="hasSubheaders(col)">{{sub['header']}}</td>
        </ng-container>
      </ng-container>
    </tr>
    </thead>
    <tr *ngFor="let row of table_data">
        <ng-container *ngFor="let col of table_cols">
        <td *ngIf="!hasSubheaders(col)">{{getCellValue(col, row)}}</td>
          <ng-container *ngFor="let sub of getSubheaders(col)">
            <td *ngIf="hasSubheaders(col)">{{getCellValue(sub, row)}}</td>
          </ng-container>
      </ng-container>
    </tr>

  </table>
</div>
<!--View part for New Product Tab-->

<div *ngIf="currentTab==='newproduct'">
  <div class="container">
    <div class="row"></div>
    <div class="row">
      <div class="col-6">
        <form [formGroup]="newproductForm" (ngSubmit)="onNewProductSubmit()">
          <div class="form-group space-around-form-element">
            <label for="productname"> Product Name*</label>
            <input type="text"
                   id="productname"
                   maxlength="50"
                   formControlName="productname"
                   class="form-control">
          </div>
          <div class="form-group space-around-form-element">
            <label for="productid"> Product ID*</label>
            <input type="number"
                   id="productid"
                   maxlength="13"
                   formControlName="productid"
                   class="form-control">
          </div>
          <div class="form-group space-around-form-element">
            <label for="productmanager"> Product Manager</label>
            <input type="text"
                   id="productmanager"
                   maxlength="30"
                   formControlName="productmanager"
                   class="form-control">
          </div>
          <div class="form-group space-around-form-element">
            <label for="salesstartdate"> Sales Start Date*</label>
            <input type="date"
                   id="salesstartdate"
                   formControlName="salesstartdate"
                   class="form-control">
          </div>
          <div class="form-group space-around-form-element">
            <button type="submit"
                    class="btn btn-primary">Submit
            </button>
            <button type="button"
                    class="btn btn-secondary" (click)="resetNewProductForm()">Reset
            </button>
          </div>
        </form>
      </div>

      <div class="col-6">
        <table class="table table-bordered" *ngIf="newProducts$ | async as newProducts">
          <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Manager</th>
            <th>Sales start date</th>
          </tr>
          <tr *ngFor="let newProd of newProducts">
            <td>{{newProd.productid}}</td>
            <td>{{newProd.productname}}</td>
            <td>{{newProd.productmanager}}</td>
            <td>{{newProd.salestartdate}}</td>
          </tr>
        </table>
      </div>

    </div>
  </div>
</div>
