<div class="container">
  <div class="row">
    <div class="col-10"></div>
    <div class="col-2"> <a [routerLink]="['/login']" (click)="logout()">Logout</a></div>
  </div>
  <div class="row">
    <div class="col-6">
      <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" [routerLink]="['newproduct']">New Product</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['sales']">Sales</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>


